<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pizidea.imagepickerDemo" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name=".A3App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ImageCropActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            >

        </activity>

        <activity
            android:name=".ImagePreviewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >


        </activity>

        <activity
            android:name=".ImagesGridActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <activity
            android:name="com.pizidea.imagepickerDemo2.PickerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name="com.pizidea.imagepickerDemo2.CropActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.pizidea.imagepickerDemo2.PreviewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.pizidea.imagepickerDemo2.ShowActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

    </application>

</manifest>
